# Gradle
.gradle/
build/
.cxx/
.externalNativeBuild/

# Local configuration
/local.properties
*.jks
*.keystore

# IntelliJ / Android Studio
.idea/
*.iml
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/.preview

# Logs & temp
*.log
*.tmp
*.bak
*.swp
.DS_Store

# Kotlin
*.kotlin_module

# Hilt
.hilt/

# Captures
captures/

# Firebase & Crashlytics
firebase-debug.log
crashlytics-build.properties

